---
layout: default
menu:
  header:
    identifier: documents
    url: "/documents.html"
    weight: 2
    title: Documents
---
{% include cinc.html %}


<header>
 <div class="contain-to-grid">
  <nav class="top-bar" data-topbar="" role="navigation">
   <ul class="title-area">
    <li class="name">
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
   </ul>
   <section class="top-bar-section">
     {% include header.html %}
   </section>
  </nav>
 </div>
</header>

{% include hero.html %}

<main>
 <div class="row">
  <div class="medium-6 columns">
  </div>
  <div class="medium-6 columns">
  </div>
 </div>
</main>

<div class="row">
  <div class="medium-6 columns">
    <h2>Documents</h2>
    <ul>
      <li>test</li>
    </ul>
  </div>
  <div class="medium-6 columns">
    <h2>Other Documentsz</h2>
    <ul>
      <li>test</li>
    </ul>
  </div>
</div>