---
layout: default
menu:
  header:
    identifier: home
    url: "/"
    weight: 1
    title: Home
---
{% include cinc.html %}

<header>
 <div class="contain-to-grid">
  <nav class="top-bar" data-topbar role="navigation">
   <ul class="title-area">
    <li class="name">
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
   </ul>
   <section class="top-bar-section">
     {% include header.html %}
   </section>
  </nav>
 </div>
</header>

{% include hero.html %}

<main>
 <div class="row">
  <div class="medium-6 columns">
    <h2>Welcome</h2>
    <p>To the community website for University Park Tower Homeowners Association.</p>
    <p>We are a High-rise Condominium property located on Buchtel Blvd, near the University of Denver campus and within walking distance of light-rail.</p>
    <p>Please feel free to explore this site to learn more about the association, access HOA-related documents, submit maintenance requests, and keep up with association business. If you can’t find what you need, please contact CAP Management via the information below.</p>
  </div>
  <div class="medium-6 columns">
   <img src="./img/stock.jpg" width="400px" height="400px">
  </div>
 </div>
</main>

<div class="row">
  
  <div class="medium-6 columns">
    <h2>Board Members</h2>
    <ul>
     <li><strong>President:</strong> Chris Comerford</li>
     <li><strong>Vice President:</strong> Matt Bryant</li>
     <li><strong>Secretary:</strong> Stephen Phua</li>
     <li><strong>Treasurer:</strong> George Wines</li>
     <li><strong>Member-At-Large:</strong> Colin Whetsel</li>
    </ul>
  </div>
  <div class="medium-6 columns">
    <h2>Staff</h2>
    <ul>
     <li><strong>On-Site Managers:</strong></li>
     <li>Patrick McCullers</li>
    </ul>
  </div>
</div>

<div class="row">
    <div class="small-12 columns">
        <h2>Announcements</h2>
        <ul>
        </ul>
    </div>
</div>
