<footer>
  <div class="row">
   <div class="medium-3 columns">
    <ul class="no-bullet">
     <li><strong>Management:</strong></li>
     <li>CAP MANAGEMENT</li>
     <li>910 16th St. Suite 1010</li>
     <li>Denver, CO 80202</li>
     <li><a href="https://www.capmanagement.com">www.capmanagement.com</a></li>
    </ul>
   </div>
   <div class="medium-3 columns">
    <ul class="no-bullet">
     <li><strong>Property Manager:</strong></li>
     <li>Aaron Monaco</li>
     <li>(303) 832-2971 ext:<strong> 301</strong></li>
     <li><a href="mailto:aaron@capmanagement.com">aaron@capmanagement.com</a></li>
    </ul>
   </div>
   <div class="medium-3 columns">
    <ul class="no-bullet">
     <li><strong>Address:</strong></li>
     <li>2225 Buchtel Blvd</li>
     <li>Denver, CO 80210</li>
    </ul>
   </div>
   <div class="medium-3 columns">
    <ul class="no-bullet">
     <li><strong>Helpful Links:</strong></li>
     <li><a href="https://www.capmanagement.com/ach">ACH Setup</a></li>
     <li><a href="https://www.capmanagement.com/blog">CAP Blog</a></li>
    </ul>
   </div>
  </div> <!-- Row -->
</footer>
